html,body{
width:100%;
}
#main-menu{
list-style-type:none;
}
#sub-menu,
#sub-menu1{
list-style-type:none;
}

#main-menu > li {
float: left;
border: 1px solid red;
}


#main-menu > li > a {
background:black;
font-size:0.85rem;
color:rgba(255,255,255,0.85);
text-decoration:none;
letter-spacing:0.05em;
display:block;
padding:12px 36px;
border-right: 1px solid rgba(0,0,0,0.15);
text-shadow:1px 1px 1px rgba(0,0,0,0.2);
text-align:center;
}

#main-menu > li:nth-child(1) > a{
border-left:1px solid rgba(0,0,0,0.15);
}

#sub-menu{
position:absolute;
background:black;
opacity:0;
visibility:hidden;
}


#sub-menu1 > li {
padding:16px 28px;
border-bottom:1px solid rgba(0,0,0,0.15);
}
#sub-menu1 > li > a {
color:rgba(255,255,255,0.6);
text-decoration:none;
}

#sub-menu1{
position:absolute;
background:black;
opacity:0;
visibility:hidden;
}


#sub-menu > li {
padding:16px 28px;
border-bottom:1px solid rgba(0,0,0,0.15);
}
#sub-menu > li > a {
color:rgba(255,255,255,0.6);
text-decoration:none;
}


#main-menu > li:hover #sub-menu{
opacity:1;
visibility:visible;
}
#main-menu > li:hover #sub-menu1{
opacity:1;
visibility:visible;
}
